{# nav partial template #}

<ul class="main-menu">
    <li {% if pageName == 'home' %}class="main-menu__item--on"{% else %}class="main-menu__item"{% endif %}><a href="{{ path_for('home') }}">Home</a></li>
</ul>
