{% extends "layouts/base.html.twig" %}

{% block content %}
<main>
  <section>
    <h1>Bummer Dude - Page Not Found</h1>
    
    <p>It looks like the page your looking for is missing, moved, perhaps deleted?</p>

    <ul>
        <li>Perhaps you mistyped something?</li>
        <li>Maybe someone deleted or moved the page?</li>
        <li>Maybe you are in an alternate universe and in this universe this page hasn't been created yet.</li>
    </ul>

    <p>Whatever the situation, try the links in the menu to get to where you want to go, I'm sure you will find something cool on another page.</p>
  </section>
</main>
{% endblock content %}
