{% extends "layouts/base.html.twig" %}

{% block content %}
<main class="main-content">
  <section>
    <p>Every day I write the list<br>Of reasons why I still believe<br>They do exist</p>
    <p>(a thousand beautiful things)<p>
    <p>And even though it's hard to see<br>The glass is full and not half empty</p>
    <p>(a thousand beautiful things)<p>
    <p>So, light me up like the sun<br>To cool down with your rain<br>I never want to close my eyes again<br>Never close my eyes</p>
    <p>Annie Lennox</p>
  </section>
</main>
{% endblock content %}