/*
  Filename: _index.scss
  Date: 20 Jul 16
  Programmer: Jaymes Young
*/

// ===============================
// Main header
// ===============================
@import 'main-header';


// ===============================
// Main menu
// ===============================
@import 'main-menu';


// ===============================
// Main footer
// ===============================
@import 'main-footer';